hailort_version: "auto" # Options: "auto" (detect from device), "latest" (latest version), or specific version
tappas_version: "auto" # Version of the Tappas model to use, set to "auto" to detect automatically
model_zoo_version: "v2.17.0" # Version of the model zoo to use , v2.17 for hailo8 , v5.1.0 for hailo10h
host_arch: "auto" # Options: "rpi" (Raspberry Pi), "x86" (desktop/server), "arm" (generic ARM board) or "auto" (detect from device)
hailo_arch: "auto" # Options: "hailo8", "hailo8l", "hailo10h" or "auto" (detect from device)
resources_path: "resources" # Path to the resources directory, relative to the current working directory
virtual_env_name: "venv_hailo_apps" # Name of the virtual environment to be created
server_url: "http://dev-public.hailo.ai/2025_10" # URL of the server to download models from , This is static
tappas_postproc_path: "auto" # Path to the post-processing script for Tappas, relative to the current working directory. If set to "auto", it will be detected automatically.